[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SemiPar.depCens"]
	path = SemiPar.depCens
	url = https://github.com/nago2020/semipar.depcens
[submodule "depCensoring"]
	path = depCensoring
	url = https://github.com/cran/depCensoring
